# Forcing a compatible sqlite3 version to be used by chromadb
pysqlite3-binary

# Pinning crewai and chromadb to versions that work together
# and are known to be stable on cloud platforms.
crewai
crewai-tools
chromadb

# Standard app dependencies
streamlit
python-dotenv
